/*GENERAL*/

#content > QWidget{
    background-color: #e6e6e6;
}

#button{
    border: 0px solid black;
    background-color: #449d44;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 3px;
    color: #e7e7e7;

}

#button:hover{
    background-color: #3e8f3e;

}

QWidget{
    outline: none;
}
QComboBox {
    border: 0px solid #336ca6;
    border-radius: 3px;
    height: 30px;
    font-weight: bold;
    color: #e7e7e7;
    min-width: 120px;
    background: #336ca6;
    padding-left: 10px;
}
QComboBox:on {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

QComboBox::drop-down {
    image: url(icons/chevron-down-white.png);
    border: none;
    /*background: white;*/
    width: 30px;
    border-radius: 3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

QComboBox QAbstractItemView{
    border: none;
    outline:none;
    background-color: #336ca6;
    color: #e7e7e7;
    /*margin-left: 10px;*/

}
QComboBox QAbstractItemView::item {
    border-right: 2px solid #2c5c8d;
    height: 30px;
    padding-left: 8px;
}
QComboBox QAbstractItemView::item:selected {
    background-color: #337ab7;
}


QScrollArea{
    border:none;
}

/*TOP MENU*/
#topBar{
    background-color: #333333;
}

#topBar > QPushButton{
    border: none;
}

#searchBar > QLineEdit{
    border-radius: 6px;
    border: 3px solid #337ab7;
    border-right: none;
    background-color: #336ca6;
    padding-left: 5px;
    color: #e7e7e7;
    font-weight: bold;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#searchBar > QPushButton{
    /*border: none;*/
    background-color: #336ca6;
    border: 3px solid #337ab7;
    border-left: none;
    border-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

/*LEFT MENU*/
#menu{
    background-color: #336ca6;
    border-right: 2px solid #2c5c8d;
}

#menu > #projectBtn{
    color: #204569;
    font-size: 18px;
    min-height: 80px;
    border:none;
    border-bottom: 2px solid #2c5c8d;
    text-align: left;
    padding-left: 40;
    border-right: 2px solid #2c5c8d;
}

#menu > #projectBtn:hover{
    background-color: #337ab7;
}

#buildBtn{
    height: 30px;
    border: none;
    border-bottom: 2px solid #2c5c8d;
    background-color: #2e6196;
    border-right: 2px solid #2c5c8d;
}

#buildBtn > QLabel{
    color: #ffffff;
    text-align: left;
    padding: 2px 0px 0px 10px;
}

#buildBtn > QPushButton:hover{
    background-color: #337ab7;
    border: none;
    padding-bottom: -2px;
    padding-right: -2px;
    border-bottom: 2px solid #2c5c8d;
    border-right: 2px solid #2c5c8d;
}

#revBtn{
    height: 25;
    border: none;
    border-bottom: 2px solid #2c5c8d;
}
#revBtn > #icon{
    padding: 4px 6px 0px 0px;
}
#revBtn:hover{
    background-color: #337ab7;
    border: none;
    border-bottom: 2px solid #2c5c8d;
    border-right: 2px solid #2c5c8d;
}

#revBtn > QLabel{
    color: #ffffff;
    text-align: left;
    padding: 2px 0px 0px 30px;
}

#subMenuBtn{
    color: #ffffff;
    height: 20px;
    font-size: 12px;
    text-align: right;
    background-color: #2e6196;
    border: none;
    padding: 2px 40px 0px 0px;
    border-bottom: 2px solid #2c5c8d;
    border-right: 2px solid #2c5c8d;
}

#subMenuBtn:hover{
    background-color: #337ab7;
    border-right: 2px solid #2c5c8d;
}

#menu QScrollBar::add-page:vertical, #menu QScrollBar::sub-page:vertical {
    background: none;
}
#menu QScrollBar::sub-page:vertical, #menu QScrollBar::add-page:vertical {
    background: #336ca6;
    border-right: 2px solid #2c5c8d;
}
#menu QScrollBar:vertical {
    border: none;
    margin: 0px 0px 0px 0px;
    width: 15px;
 }
 #menu QScrollBar::handle:vertical {
    border: 2px solid #2c5c8d;
    background: #2c5c8d;
    min-height: 15px;
    width: 11px;
 }

/*OVERLAY*/
#overlay{
    background-color: 0, 0, 0, 127;
}

#popup{
    background-color: #edeff0;
}

#title{
    color: #4d4d4d;
    font-weight: bold;
    font-size: 18px;
}

/*PROJECT PREFS POPUP*/
#projectPrefs QLabel{
    color: #4d4d4d;
    font-weight: bold;
    font-size: 16px;
    /*text-decoration: underline;*/
}

#utWidget{
    margin:3px;
}


/*UT WIDGET*/
#utCategory{
    background-color: #acacac;
    max-height: 35px;
    border-radius: 6px;
}

#utCategory QLabel{
    color: #2d2d2d;
    font-weight: bold;
    font-size: 16px;
    padding-top: 4px;
    margin-left: 3px;
}

#utContent{
    background-color: #f3f3f3;
    border: 1px solid #acacac;
    border-top:none;
}


#utHeader{
    background-color: #acacac;
    height: 35;
    border-radius: 6px;
}

#utHeader[open = "true"]{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}


#utHeader QLabel{
    color: #4d4d4d;
    font-weight: bold;
    font-size: 16px;
}

#colorPicker QLabel{
    color: red;
    font-weight: bold;
}

#colorPicker QSpinBox{
    min-width: 60px;
}

#colorPicker QPushButton{
    border:none;
    background-color: #c8c8c8;
    height: 16px;
    padding-top: 3px;

}

/*#tagRed{
    background-color: #D9534F;
    max-width: 50px;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    min-height: 20px;
    border: none;
    color: white;
    font-weight: bold;
    padding-top: 2px;
}*/
#tag QLabel{
    color: white;
    font-weight: bold;
}

#tag QLabel#value{
    font-size: 20px;
    min-height: 20px;
}
