/*GENERAL*/

#content{
    background-color: #252526;
}

#button{
    border: none;
    background-color: #449d44;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 3px;
    color: #e7e7e7;

}

#button:hover{
    background-color: #3e8f3e;

}

QWidget{
    outline: none;
    border: none;
}
QComboBox {
    border: 0px solid #336ca6;
    border-radius: 3px;
    height: 30px;
    font-weight: bold;
    color: #e7e7e7;
    min-width: 120px;
    background: #336ca6;
    padding-left: 10px;
}
QComboBox:on {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

QComboBox::drop-down {
    image: url(icons/chevron-down-white.png);
    border: none;
    /*background: white;*/
    width: 30px;
    border-radius: 3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

QComboBox QAbstractItemView{
    border: none;
    outline:none;
    background-color: #336ca6;
    color: #e7e7e7;
    /*margin-left: 10px;*/

}
QComboBox QAbstractItemView::item {
    border-right: 2px solid #2c5c8d;
    height: 30px;
    padding-left: 8px;
}
QComboBox QAbstractItemView::item:selected {
    background-color: #337ab7;
}


QScrollArea{
    border:none;
}

/*TOP MENU*/
#topBar{
    background-color: #222222;
    border: 2px solid #1e1e1e;
}

#topBar > QPushButton{
    border: none;
}

#searchBar > QLineEdit{
    border-radius: 6px;
    border: 3px solid #1e1e1e;
    border-right: none;
    background-color: #464646;
    padding-left: 5px;
    color: #e7e7e7;
    font-weight: bold;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#searchBar > QPushButton{
    /*border: none;*/
    background-color: #2d2d2d;
    border: 3px solid #1e1e1e;
    border-left: none;
    border-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

/*LEFT MENU*/
#menu{
    background-color: #3c3c3c;
    border-right: 2px solid #1e1e1e;
}

#menu > #projectBtn{
    color: #cacaca;
    font-size: 18px;
    min-height: 80px;
    text-align: left;
    padding-left: 40;
    border: 2px solid #1e1e1e;
    border-left: none;
    border-top: none;
}

#menu > #projectBtn:hover{
    background-color: #646464;
    color: black;
}

#buildBtn{
    height: 30px;
    background-color: #2d2d2d;
    border: 2px solid #1e1e1e;
    border-left: none;
    border-top: none;
}

#buildBtn > QLabel{
    color: #cacaca;
    text-align: left;
    padding: 2px 0px 0px 10px;
}

#buildBtn > QPushButton:hover{
    background-color: #646464;
    padding-bottom: -2px;
    padding-right: -2px;
    border: 2px solid #1e1e1e;
    border-left: none;
    border-top: none;
}

#revBtn{
    height: 25;
    border: none;
    border-bottom: 2px solid #1e1e1e;
}

#revBtn > #icon{
    padding: 4px 6px 0px 0px;
}

#revBtn:hover{
    background-color: #646464;
    border: none;
    border: 2px solid #1e1e1e;
    border-left: none;
    border-top: none;
}

#revBtn > QLabel{
    color: #cacaca;
    text-align: left;
    padding: 2px 0px 0px 30px;
}

#subMenuBtn{
    color: #cacaca;
    height: 20px;
    font-size: 12px;
    text-align: right;
    background-color: #2d2d2d;
    border: none;
    padding: 2px 40px 0px 0px;
    border: 2px solid #1e1e1e;
    border-left: none;
    border-top: none;
}

#subMenuBtn:hover{
    background-color: #646464;
}

#menu QScrollBar::add-page:vertical, #menu QScrollBar::sub-page:vertical {
    background: none;
}
#menu QScrollBar::sub-page:vertical, #menu QScrollBar::add-page:vertical {
    background: #336ca6;
    border-right: 2px solid #2c5c8d;
}
#menu QScrollBar:vertical {
    border: none;
    margin: 0px 0px 0px 0px;
    width: 15px;
 }
 #menu QScrollBar::handle:vertical {
    border: 2px solid #2c5c8d;
    background: #2c5c8d;
    min-height: 15px;
    width: 11px;
 }

/*OVERLAY*/
#overlay{
    background-color: 0, 0, 0, 127;
}

#popup{
    background-color: #edeff0;
    border: none;
}

#title{
    color: #4d4d4d;
    font-weight: bold;
    font-size: 18px;
}

/*PROJECT PREFS POPUP*/
#projectPrefs QLabel{
    color: #4d4d4d;
    font-weight: bold;
    font-size: 16px;
    /*text-decoration: underline;*/
}

/*UT WIDGET*/

#utContent{
    background-color: #252526;
}

#mainUTContent{
    background-color: #3c3c3c;
}

#utHeader{
    background-color: #282828;
    height: 35;
    border-bottom: 2px solid #f0960a;

}

#utContent{
    border: 2px solid #1e1e1e;

}

#utHeader #tagUT{
    max-width: 0px;
}

#utContent #utHeader #tagUT{
    max-width: 15px;
    border-bottom: 2px solid #f0960a;
}


#utHeader QLabel{
    color: #cacaca;
    font-weight: bold;
    font-size: 16px;
}


#tag QLabel{
    color: white;
    font-weight: bold;
}

#tag QLabel#value{
    font-size: 20px;
    min-height: 20px;
}

#tag{
    width: 100px;
}

#tag[type = "succeed"]{
    background-color: #638F54;
}

#tag[type = "failure"]{
    background-color: #EFAD4D;
}

#tag[type = "error"]{
    background-color: #BD5355;
}

#tag[type = "untested"]{
    background-color: #323232;
}

#unitTest{
    min-height: 30px;
    /*border: 1px solid #acacac;*/
    border-top: none;
    /*background-color: white;*/
    /*border-bottom: 3px solid qlineargradient(x1:0, y1:0, x2:0 y2:1, stop:0 grey, stop:1 white);*/
}

#unitTest{
    background-color: #252526;
}
#unitTest[alternateRow = "true"]{
    background-color: #323232;
}

#unitTest QLabel{
    color: #cacaca;
    font-weight: bold;
}

#unitTest[selected = "True"]{
    background-color: lightgray;
}

#unitTest #tagUT{
    max-width: 15px;
}

#tagUT[state = "succeed"]{
    background: #5DB85B;
}

#tagUT[state = "failure"]{
    background: #EFAD4D;
}
#tagUT[state = "error"]{
    background: #D95350;
}

#unitTest[selected = "True"]{
    background-color: #f0960a;
}

#mantis{
    background-color: white;
    border-left: 5px solid #FCBDBD;
    padding-left: 5px;
    padding-top: 2px;
    font-weight: bold;
}
